.app-btn {
  display: inline-flex;
  flex-direction: row;
  padding: 13px 25px;
  background-color: var(--app-black);
  color: white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 19px;
  box-shadow: var(--elevate-1);
}
.app-btn:active {
  transform: scale(0.9);
  transition: 0.2s ease-out;
}

.touchable-opacity:hover {
  opacity: 0.8;
  transition: 0.2s ease-out;
}
