.app-checkbox {
  border: solid 3px var(--app-black);
  width: 30px;
  height: 30px;
  background-color: white;
  display: inline-flex;
}
.app-checkbox i {
  font-weight: bold;
  font-size: 17px;
  position: absolute;
  transform: translate(22%, 20%);
}

.app-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.app-checkbox-wrapper small {
  margin-left: 10px;
  font-weight: bold;
}
