@import url(./mobile-only.css);
@import url(./pc-only.css);
@import url(./elevations.css);
@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,400i,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,500,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --app-yellow: #f2d980;
  --app-light-text: #fff3ca;
  --app-black: #000000;
  --app-green: #14bc4d;
  --transparent: rgba(95, 95, 95, 0.52);
}

.staff-card {
  padding: 10px 15px;
  background-color: rgba(95, 95, 95, 0.42);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  min-width: 290px;
  position: relative;
}
.staff-card img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: solid 3px black;
}
.blanket {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.8;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.company h1,
h3,
p {
  color: white;
}
.company h1 {
  font-size: 239px;
}
.company h3 {
  font-size: 53px;
}
.company p {
  font-size: 26px;
}
.content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.page {
  height: 100vh;
  width: 100vw;
  background: url(./../images/wg.jpeg);
  background-size: contain;
}

.yellow-triangle {
  height: 910px;
  width: 530px;
  position: fixed;
  z-index: 15;
  left: -370px;
  top: -350px;
  background-color: var(--app-yellow);
  transform: rotate(45deg);
}

.yellow-triangle-content {
  transform: rotate(-45deg);
  margin-top: 290px;
  margin-left: 220px;
}

.auth-root {
  height: 100%;
  width: 100%;
  background-color: var(--app-yellow);
  padding: 50px 20px;
}

.auth-tab-selector {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.auth-tab-selector h5:active {
  transform: scale(0.9);
  transition: 0.2s ease-out;
}

.auth-tab-selector h5 {
  font-weight: bold;
  padding: 8px 28px;
  font-size: 18px;
  border: solid 4px transparent;
  border-left-width: 0px;
  border-right-width: 0px;
  cursor: pointer;
  margin: 0px 5px;
}

.auth-tab-selector h5:hover {
  border-bottom-color: #000000;
}

.auth-tab-selected {
  background-color: black;
  color: white;
}

.auth-content-div {
  padding: 40px 0px;
}

.categories-card {
  min-width: 290px;
  background-color: rgba(95, 95, 95, 0.42);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.categories-card img {
  width: 55px;
  height: 100%;
  /* border: solid 3px black; */
}

.task-done-btn {
  margin-left: auto;
  height: 100%;
  width: 50px;
  background: var(--app-green);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.task-done-btn small {
  font-weight: bold;
  color: white;
}

.app-page {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
}
.page-content {
  min-width: 50vw;
  margin-top: 120px;
}

.page-title h2 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.page-title p {
  /* font-weight: bold; */
  margin-top: 10px;
  font-size: 25px;
}

.add-staff-btn {
  background-color: var(--app-yellow);
  color: black !important;
  margin-right: 15px;
  width: auto !important;
}
.add-cat-btn {
  background-color: white;
  color: black !important;
  margin-right: 10px;
  width: auto !important;
}

.manager-partition {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 2;
  margin: 15px 0px;
}

.staff-area {
  flex: 1;
  width: 100%;
  min-height: 500px;
  background-color: green;
}
.categories-area {
  flex: 1;
  width: 100%;
  min-height: 500px;
  background-color: red;
}
